__pycache__/
notes.md
MANIFEST.in
dist/
build/
test.txt
node_modules/
jellyfin_accounts/data/config-default.ini
*.egg-info/
pw-reset/
jfa/
colors.txt
theme.css
jellyfin_accounts/__pycache__/
jellyfin_accounts/data/static/*.css
old/
.jf-accounts/
requirements.txt
package-lock.json
video/
scss/bs5/*.css*
scss/bs4/*.css*
