<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" integrity="sha256-E8KRdFk/LTaaCBoQIV/rFNc0s3ICQQiOHFT4Cioifa8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            h1 {
                margin: 20%;
                margin-bottom: 5%;
            }
            .linkGroup {
                margin: 20%;
                margin-bottom: 5%;
                margin-top: 5%;
            }
            .linkForm {
                margin: 20%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
            .contactBox {
                margin: 20%;
                margin-top: 5%;
                color: grey;
            }
            .fa-clipboard {
                color: grey;
            }
            .fa-clipboard:hover {
                color: black;
            }
        </style>
        <title>Admin</title>
    </head>
    <body>
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginTitle">Login</h5>
                    </div>
                    <div class="modal-body" id="formBody">
                        <form action="#" method="POST" id="loginForm">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Login" form="loginForm">
                    </div>
                </div>
            </div>
        </div>
        <h1>
            Accounts admin
        </h1>
        <div class="linkGroup">
            Current Invites
            <div class="list-group" id="invites">
            </div>
        </div>
        <div class="linkForm">
            Generate Invite
            <div class="list-group">
                <form action="#" method="POST" id="inviteForm">
                    <div class="form-group">
                        <div class="list-group-item">
                            <label for="hours">Hours</label>
                            <select class="form-control" id="hours" name="hours">
                            </select>
                            <label for="minutes">Minutes</label>
                            <select class="form-control" id="minutes" name="minutes">
                            </select>
                            <input type="submit" class="btn btn-primary" value="Generate">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="contactBox">
            <p>{{ contactMessage }}</p>
        </div>
        <script src="admin.js"></script>
    </body>
</html>
