<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js" integrity="sha256-E8KRdFk/LTaaCBoQIV/rFNc0s3ICQQiOHFT4Cioifa8=" crossorigin="anonymous"></script>
        <style>
            .pageTitle {
                margin: 20%;
                margin-bottom: 5%;
            }
            .accountForm {
                margin: 20%;
                margin-bottom: 5%;
                margin-top: 5%;
            }
            .contactBox {
                margin: 20%;
                margin-top: 5%;
                color: grey;
            }
        </style>
        <title>Create Jellyfin Account</title>
    </head>
    <body>
        <div class="modal fade" id="successBox" tabindex="-1" role="dialog" aria-labelledby="successBox" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successTitle">Success!</h5>
                    </div>
                    <div class="modal-body" id="successBody">
                        <p>{{ successMessage }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ jfLink }}" class="btn btn-primary">Continue</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pageTitle">
            <h1>
                Create Account
            </h1>
            <p>{{ helpMessage }}</p>
        </div>
        <div class="accountForm" id="accountForm">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="username" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Create Account">
            </form>
        </div>
        <div class="contactBox">
            <p>{{ contactMessage }}</p>
        </div>
        <script>
            $("form").submit(function() {
                var send = $("form").serializeObject();
                send['code'] = window.location.href.split('/').pop();
                send = JSON.stringify(send);
                $.ajax('/newUser', {
                    data : send,
                    contentType : 'application/json',
                    type : 'POST',
                    crossDomain: true,
                    success : function(){
                        $('#successBox').modal('show');
                    }
                });
                return false;
            });
        </script>
    </body>
</html>                            
